<ion-header>
  <ion-toolbar color='danger'>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favourite news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let news of favNewsArr">
    <ion-card-header>
      <ion-img [src]='news.url'></ion-img>
      <ion-grid>
        <ion-row align-content='center'>
          <ion-col size='10'>
            <ion-card-title>{{ news.title }}</ion-card-title>
          </ion-col>
          <ion-col size='2'>
            <ion-icon name="heart" color='danger' (click)='removeFromFav(news, $event)' style='font-size: 20px'></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  
    <ion-card-content>{{ news.content }}</ion-card-content>
  </ion-card>
</ion-content>
