<ion-header>
  <ion-toolbar color='danger'>
      <ion-buttons slot='start'>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title> {{ usersPageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-sliding *ngFor='let user of users'>
            <ion-item (click)='showDetails(user)'>
              <ion-icon name='contact' class="ion-margin-end"></ion-icon>
              <ion-label> {{ user.firstname + ' ' + user.lastname }} </ion-label>
            </ion-item>
            <ion-item-options side='end'>
              <ion-item-option color='danger'>
                <ion-icon slot='icon-only' name='trash' (click)='deleteUser(user.id)'></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-right">
      <ion-col size='2' offset='10'>
        <ion-fab-button color="danger" (click)='openModal()'>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
